footer {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #666666;
    color: white;
    text-align: center;
    font-size: 8px;
    padding: 12px;
    border-top: 10px;
    border-color: teal;
    border-style: solid;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}

.nav {
    font-size: 10px;
    color: #777777

}

body {
    width: 960px;
    float: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.mainheader {
    font-size: 14px;
    color: white;
    background-color: teal;
    font-family: 'Georgia', Times, Times New Roman, serif;
}